/* navbar */
.nav-link{
    margin: 5px 6px;
}
.navbar-brand{
    font-family: 'Righteous', cursive;

}
/* heade */
#header{
    background-color: rgb(44, 44, 44);
    padding: 15% 15%;
    text-align: center;
}
.headerimg{
    width: 100%;
    text-align: center;
    border-radius: 10%
}
.carousel-control-next{
    margin: 0 0 50px 0;
}
.hheading{
    color: aliceblue;
    text-align: center;
    font-family: 'Righteous', cursive;
}
.hp{
    color: rgb(253, 219, 155);
}
/* introdu */
#intro{
    text-align: center;
    padding: 5rem;
}
.main-heading{
    font-family: 'Righteous', cursive;
    text-align: center;
}
.introimage{
    width: 50%;
    margin-top: 10px;
    border-radius: 100%
    
}
/* services */
#services{
    background-color: rgb(44, 44, 44);
    padding: 5%;
    text-align: center;
}



.servicehead{
    text-align: center;
   color: aliceblue;
    font-family: 'Righteous', cursive;
}
.servicecard{
    text-align: center;
    color: azure;
    margin: 5px 0px;
    
   
}
.service-icon{
    margin:30% 10%  ;
    color: rgb(255, 115, 0);
}
.service-icon:hover{
    color: rgb(236, 158, 95);
    
}
.servciceheads{
    font-family: 'Fjalla One', sans-serif;
}
.client{
    text-align: center;
}
/* works  */
#works{
    text-align: center;
    background-color: rgb(70, 70, 70);
    color: aliceblue;

}
.workimg{
    width: 100%;
    border-radius: 4%;
}
.workcol{
    padding: 7%;
}
.worksdes{
    color: grey;
}
.pagelinks{
    text-decoration: solid;
    color: rgb(255, 94, 0);
    font-weight: bold;
}
#sjmotors{
    background-color: rgb(19, 26, 44);
    padding-top: 5%;
}
/* contacts */
#contact{
    background-color: rgb(92, 92, 92);
    padding: 7% 10%;
    text-align: center;
    color: black;
}
.contacticon{
    color: rgb(255, 102, 0);
    margin: 5px 10px;
}
.contacticon:hover{
    color: rgb(236, 175, 104);
}
#footer{
    padding: 7% 10%;
    text-align: center;
    background-color: rgb(24, 24, 24);
    color: white;
}
.call{
    color: rgb(235, 241, 247);
}
.number{
    text-decoration: solid;
    color: rgb(255, 136, 0);
    
}